<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_Sampledata>
            <version>0.0.1</version>
        </Wsu_Sampledata>
    </modules>
    <global>
        <blocks>
            <wsu_sampledata>
                <class>Wsu_Sampledata_Block</class>
            </wsu_sampledata>
        </blocks>
        <helpers>
            <wsu_sampledata>
                <class>Wsu_Sampledata_Helper</class>
            </wsu_sampledata>
        </helpers>
        <models>
            <wsu_sampledata>
                <class>Wsu_Sampledata_Model</class>
            </wsu_sampledata>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wsu_sampledata before="Mage_Adminhtml">Wsu_Sampledata_Adminhtml</wsu_sampledata>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsu_sampledata>
                    <file>wsu/sampledata.xml</file>
                </wsu_sampledata>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wsu_Sampledata>
                    <files>
                        <default>Wsu_Sampledata.csv</default>
                    </files>
                </Wsu_Sampledata>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wsu_sampledata>
            <config>
                <!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
            </config>
        </wsu_sampledata>
    </default>
</config>
