.pane {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
}
.pane span {
	bottom: 0;
	color: white;
	display: block;
	left: 50%;
	margin-left: -640px;
	font-size: 38px;
	padding: 10px;
	position: absolute;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	width: 1280px;
}
.p1 {
	background-color: transparent;
}
.p2 {
	background-color:#7F7F7F;
}
.p3 {
	background-color:#A01013;
}
.p4 {
	background-color:#323232;
}